.checkout_button {
  border-radius: 20px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 4px;
  width: 45px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
} */
